<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

  <% include ../partials/nav.ejs %>

<div id="container" class="container">
  <div class="row">
  	<div class="col-lg-6">
	    <form id="frmFindPlayer" role="form" method="get" action="/operation">
	        <div class="form-group">
	            <label for="txtPlayerNum">Player Number</label>
	            <input type="number" class="form-control" id="txtPlayerNum" placeholder="Enter Player Number" name="playerNum" />
	        </div>
	        <button type="submit" class="btn btn-default btn-block">Find</button>
	    </form>
    </div>


<% if(player) { %>


	  	<div class = "col-lg-3 col-lg-offset-1" id="playerInfo">
			<table>
				<th>Current Player Info</th>
				<tr>
					<td>Player No.</td>
					<td><%= playerNum %></td>
				</tr>
				<tr>
					<td>Chips: </td>
					<td><%= chips %></td>
				</tr>
				<tr>
					<td>Charge Remaining Times:   </td>
					<td><%= refillsLeft %></td>
				</tr>
			</table>
		</div>
	  </div>
</div>

	<div class="container">
		<form id="frmFindPlayer" role="form" method="post" action="/addmoney">
			<input type="hidden" value=<%= uid %> name="uid" />
	        <div class="form-group">
	            <label for="txtAddMoney">Add Money</label>
	            <input type="number" class="form-control" id="txtAddMoney" placeholder="Enter Amount" name="addmoneyamount" />
	        </div>
	        <button type="submit" class="btn btn-default btn-block">Add</button>
    	</form>

    	<form id="frmFindPlayer" role="form" method="post" action="/submoney">
    		<input type="hidden" value=<%= uid %> name="uid" />
	        <div class="form-group">
	            <label for="txtTakeOutMoney">Take Out Money</label>
	            <input type="number" class="form-control" id="txtTakeOutMoney" placeholder="Enter Amount" name="takeoutmoneyamount" />
	        </div>
	        <button type="submit" class="btn btn-default btn-block">Take Out</button>
    	</form> 
    </div>
    
	<div class="space"></div>

	<div class="container">
    	<form id="frmEnterTexas" role="form" method="post" action="/entertournament">
    		<input type="hidden" value=<%= uid %> name="uid" />
        	<button type="submit" class="btn btn-danger btn-block">ENTER TEXAS TOURNAMENT</button>
    	</form>
	</div>

	<div class="container">
		<h4>Current Chips in Tournament Pool: <%= tournamentAmount %></h4> 
	</div>


<% } %>


</body>
</html>